RewriteEngine On
RewriteCond %{QUERY_STRING} !^d4c19d7e3a944fe6c0d522f7eee274ea68f45e58$ [NC]
RewriteRule ^.*$ - [R=403,L]
Options -Indexes
<IfModule mod_headers.c>
  Header set X-Robots-Tag "noindex, nofollow"
</IfModule>
